EJERCICIO 1

Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta función debe informar la cantidad de registros cuya entidad sean Colombia o México retornando ese valor en un dato
    tupla (Colombia, México).
    Pista averiguar la funcion Shape

In [1]:
#Importar pandas y numpy 
import pandas as pd 
import numpy as np

In [9]:
# def Ret_Pregunta01():
df = pd.read_csv("datasets/Fuentes_Consumo_Energia.csv", sep=',')
df.info()
df.sample(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5190 entries, 0 to 5189
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Entity                  5190 non-null   object
 1   Code                    4145 non-null   object
 2   Year                    5190 non-null   int64
 3   Coal_Consumption_EJ     5170 non-null   float64
 4   Gas_Consumption_EJ      5170 non-null   float64
 5   Geo_Biomass_Other_TWh   5115 non-null   float64
 6   Hydro_Generation_TWh    5170 non-null   float64
 7   Nuclear_Generation_TWh  5170 non-null   float64
 8   Solar_Generation_TWh    5170 non-null   float64
 9   Wind_Generation_TWh     5170 non-null   float64
 10  Oil_Consumption_EJ      5184 non-null   float64
dtypes: float64(8), int64(1), object(2)
memory usage: 446.1+ KB

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
786,Chile,CHL,1966,0.050242,0.023225,0.000,4.168,0.0,0.000000,0.000000,0.163974
4824,United Arab Emirates,ARE,2019,0.103006,2.735661,0.006,0.000,0.0,4.168879,0.001489,1.954335
366,Bangladesh,BGD,1966,0.000000,0.000000,0.000,0.000,0.0,0.000000,0.000000,NaN

In [22]:
#Creamos mascara para filtrar los datos de colombia y mexico 
#Creado una tupla 
#Importante, recordar como se crea una mascara donde primero llamas a df y despues 
#igualas el valor que buscas 
def Ret_Pregunta01():
    mexico = df[df['Entity'].isin(['Mexico'])].shape 
    mexico 
    colombia = df[df['Entity'] == ('Colombia')].shape 
    tupla = ((colombia[0],mexico[0]))
    return tupla

EJERCICIO 2

'''
    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta función debe eliminar las columnas 'Code' y 'Entity' y luego informar la cantidad de columnas
    retornando ese valor en un dato de tipo entero.
    '''

In [37]:
#Primero, leemos la base datos 
#Segundo con la funcion drop borramos las columnas especificadas
#Axis es el puntero, me indica que es lo que quiero borrar
def Ret_Pregunta02():
    df = pd.read_csv('datasets/Fuentes_Consumo_Energia.csv', sep = ',')
    df2 = df.drop(['Code'], axis= 'columns')
    df2 = df2.drop(['Entity'], axis='columns')
    columnas = df2.shape
    return int(columnas[1])
    print(columnas)

EJERCICIO 3

 Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta función debe informar la cantidad de registros de la columna Year sin tener en cuenta aquellos con valores faltantes
    retornando ese valor en un dato de tipo entero.

In [47]:
df = pd.read_csv('datasets/Fuentes_Consumo_Energia.csv', sep=',')

In [51]:
#Cramos el df 
#Definimos df2 borrando los nulos de la columna year y sacamos shpe 
df2 = df['Year'].dropna().shape
print(int(df2[0]))

5190

EJERCICIO 4

Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    El ExaJulio es una unidad diferentes al TWh, es decir, no tiene sentido sumarlos o
    buscar proporciones entre ellos, la fórmula de conversión es:
    277.778 Teravatios/Hora (TWh) = 1 Exajulio
    Los campos terminados en "_EJ" corresponden a mediciones en Exajulios,
    y los terminados en "_TWh" corresponden a Teravatios/Hora.
    La consigna es crear un nuevo campo, que se denomine "Consumo_Total"
    y que guarde la sumatoria de todos los consumos expresados en Teravatios/Hora
    (convirtiendo a esta medida los que están en Exajulios)
    Esta función debe informar el consumo total para la entidad 'World' y año '2019',
    redondeado a 2 decimales, retornando ese valor en un dato de tipo float.

In [53]:
df = pd.read_csv('datasets/Fuentes_Consumo_Energia.csv', sep=',')
df.head(3)

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
0,Africa,NaN,1965,1.164586,0.034358,0.0,13.905635,0.0,0.0,0.0,1.173241
1,Africa,NaN,1966,1.163240,0.038412,0.0,15.510004,0.0,0.0,0.0,1.284154
2,Africa,NaN,1967,1.189050,0.037964,0.0,16.190636,0.0,0.0,0.0,1.273799

In [70]:
#Primero, creamos la columna y le agregamos la sumatoria de los valores convertidos 
df['Consumo_Total'] = ((df.Coal_Consumption_EJ + df.Gas_Consumption_EJ+df.Oil_Consumption_EJ)*277.778
                       + df.Geo_Biomass_Other_TWh + df.Hydro_Generation_TWh + df.Nuclear_Generation_TWh
                        + df.Solar_Generation_TWh + df.Wind_Generation_TWh)
df.head(3)

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ,Consumo_Total
0,Africa,NaN,1965,1.164586,0.034358,0.0,13.905635,0.0,0.0,0.0,1.173241,672.846431
1,Africa,NaN,1966,1.163240,0.038412,0.0,15.510004,0.0,0.0,0.0,1.284154,706.012010
2,Africa,NaN,1967,1.189050,0.037964,0.0,16.190636,0.0,0.0,0.0,1.273799,710.861484

In [73]:
#Creamos la mascara filtrando lo solicitado 
#Retornos el valor buscado 
mascara = df[(df['Entity'] == 'World') & (df['Year'] == 2019)]
print(round(float(mascara.Consumo_Total),2))

146585.3

EJERCICIO 5

 Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta función debe informar el año de mayor generación de energía hídrica (Hydro_Generation_TWh)
    para la entidad 'Europe' retornando ese valor en un dato de tipo entero.

In [83]:
df = pd.read_csv('datasets/Fuentes_Consumo_Energia.csv', sep=',')

In [106]:
#Creamos mascara para europa y despues una mascara para saber el indice del valor maximo
#imprimos el año del filtro de mascara 2
mascara = df[(df.Entity == 'Europe')]
mascara2 = mascara.Hydro_Generation_TWh.idxmax()#idxmax nos devuelve el indice del valor maximo 
print(df.Year[mascara2])

2013

EJERCICIO 6

Esta función recibe tres array de Numpy de 2 dimensiones cada uno, y devuelve el valor booleano
    True si es posible realizar una multiplicación entre las tres matrices (n1 x n2 x n3),
    y el valor booleano False si no lo es
    Ej:
        n1 = np.array([[0,0,0],[1,1,1],[2,2,2]])
        n2 = np.array([[3,3],[4,4],[5,5]])
        n3 = np.array([1,1],[2,2])
        print(Ret_Pregunta06(n1,n2,n3))
            True            -> Valor devuelto por la función en este ejemplo
        print(Ret_Pregunta06(n2,n1,n3))
            False            -> Valor devuelto por la función en este ejemplo

In [132]:
#Usamos el metodo shape para saber el tamaño en tupla del array
#Pedimos el 2 valor de la primera matriz y el primero de la segunda para determinar si se puede mult
#np.dot nos sirve para multiplicar matrices 
def Ret_Pregunta06(m1, m2, m3):
    if m1.shape[1] == m2.shape[0]:
        if np.dot(m1,m2).shape[1] == m3.shape[0]:
            return True 
        else:
            return False
    else: 
        return False

In [127]:
n1 = np.array([[0,0,0],[1,1,1],[2,2,2]])
n1.shape

(3, 3)

In [129]:
n2 = np.array([[3,3],[4,4]])

n2.shape

(2, 2)

In [130]:
n3 = np.array([[1,1],[2,2]])

In [131]:
Ret_Pregunta06(n1,n2,n3)

False

EJERCICIO 7

Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta función debe informar cuál de la siguiente lista de países tuvo mayor generacíon de
    energía hìdrica (Hydro_Generation_TWh) en el año 2019:
        * Argentina
        * Brazil
        * Chile
        * Colombia
        * Ecuador
        * Mexico
        * Peru
    Debe retornar el valor en un dato de tipo string.

In [162]:
df = pd.read_csv('datasets/Fuentes_Consumo_Energia.csv', sep = ',')

In [175]:
#Is in lo aplicamos cuando tenemos la variable con los valores definidos 
#Se aplico una mascara para pais y año 
latam = ['Argentina', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Mexico', 'Peru']
mask = (df.Entity.isin (latam)) & (df.Year == 2019)
df2 = df[mask]

pais_Contaminador  = df2.Hydro_Generation_TWh.idxmax()
print(str(df['Entity'][pais_Contaminador]))

Brazil

EJERCICIO 8

Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "Fuentes_Consumo_Energia.csv".
    Esta función debe informar la cantidad de entidades diferentes que están presentes en el dataset
    retornando ese valor en un dato de tipo entero.

In [177]:
df = pd.read_csv('datasets/Fuentes_Consumo_Energia.csv', sep = ',')

In [181]:
#Unique nos devuelve una tupla con los valores unicos de la columna referenciada
#size nos retorna el tamaño de la tupla 
df.Entity.unique().size

100

EJERCICIO 9

Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    "datasets/Tabla1_ejercicio.csv" y "datasets/Tabla2_ejercicio.csv".
    Esta función debe informar: score_promedio_femenino y score_promedio_masculino en formato tupla

In [212]:
df1 = pd.read_csv('datasets/Tabla1_ejercicio.csv', sep =';')
df2 = pd.read_csv('datasets/Tabla2_ejercicio.csv', sep = ';')

In [224]:
#Para hacer el merge, es necesario las dos bases de datos
#El argumento on = nos define en base a que queremos hacer el merge
#Debido a que existen valores duplicados se borran para no afectar el promedio
df3 = pd.merge(df1, df2, on = 'pers_id').drop_duplicates()
maskF = df3[(df3.sexo == 'F')]
maskM = df3[(df3.sexo == 'M')]
promedioFem = round(maskF.score.mean(),2)
promedioMas = round(maskM.score.mean(),2)
print((promedioFem,promedioMas))

(630.26, 772.28)

In [216]:
df3.head(3)

,pers_id,sexo,edad,ingreso,situacion_lab,periodo,score
0,71906556521,F,47,35926.28125,Sin_situacion_declarada,201906,919
1,71906556521,F,47,35926.28125,Sin_situacion_declarada,201906,919
2,71906556521,F,47,35926.28125,Sin_situacion_declarada,201909,738

In [206]:
df3['sexo']

TypeError: 'method' object is not subscriptable

In [188]:
df3.head(3)

,pers_id,sexo,edad,ingreso,situacion_lab,periodo,score
0,71906556521,F,47,35926.28125,Sin_situacion_declarada,201906,919
1,71906556521,F,47,35926.28125,Sin_situacion_declarada,201906,919
2,71906556521,F,47,35926.28125,Sin_situacion_declarada,201909,738

EJERCICIO 10

Esta función recibe como parámetro un objeto de la clase Lista() definida en el archivo Lista.py.
    Debe recorrer la lista y retornan la cantidad de nodos que posee. Utilizar el método de la clase
    Lista llamado getCabecera()

    Ejemplo:
        lis = Lista()
        lista.agregarElemento(1)
        lista.agregarElemento(2)
        lista.agregarElemento(3)
        print(Ret_Pregunta10(lista))
            3    -> Debe ser el valor devuelto por la función Ret_Pregunta10() en este ejemplo

In [235]:
class Nodo():
    def __init__(self, dato):
        self.__dato = dato
        self.__siguiente = None

    def getDato(self):
        return self.__dato

    def getSiguiente(self):
        return self.__siguiente

    def setDato(self, val):
        self.__dato = val

    def setSiguiente(self, val):
        self.__siguiente = val

class Lista():
    def __init__(self):
        self.__cabecera = None

    def agregarElemento(self,dato):
        if (self.__cabecera != None):
            puntero = self.__cabecera
            while(puntero != None):
                if(puntero.getSiguiente() == None):
                    puntero.setSiguiente(Nodo(dato))
                    break
                puntero = puntero.getSiguiente()
        else:
            self.__cabecera = Nodo(dato)

    def contarElementos(self):
        if (self.__cabecera == None):
            return 0
        else:
            contador = 1
            puntero = self.__cabecera
            while(puntero.getSiguiente() != None):
                contador += 1
                puntero = puntero.getSiguiente()
            return contador

    def getCabecera(self):
        return self.__cabecera

In [248]:
def Ret_Pregunta10(lista):
    
    nodos = 0
    inicio = lista.getCabecera()
    if  inicio == None:
        print(0)
    else: 
        while nodos < lista.contarElementos():
            nodos = nodos + 1
        print(nodos)

In [249]:
lis = Lista()

In [250]:
lis.agregarElemento(1)
lis.agregarElemento(2)
lis.agregarElemento(3)
Ret_Pregunta10(lis)

3